.card-list {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin-bottom: 4em;
  padding: 0.8em;
  gap: 0.8em;
}
.card-list__title {
  border: solid var(--color-muted-cream);
  background-color: var(--color-muted-beige);
  text-align: center;
  padding: 0.4em;
}
