.card-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.2em;
  border: dotted var(--color-evening-sky);
  border-radius: 10px;
  background-color: var(--color-rose);
  margin: 0.3em;
}

.card-form__title {
  text-align: center;
  color: var(--color);
}

.card-form__question-label {
}

.card-form__question {
  width: 80%;
}

.card-form__answer-label {
}
.card-form__answer {
  width: 80%;
}

.card-form__tags-label {
}

.card-form__tags-info {
}

.card-form__tags {
  width: 80%;
}

.card-form__submit-button {
  font-size: 1.3em;
  padding: 0.2em;
  border-radius: 10px;
}
