.footer {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100vw;
  z-index: 2;
}
.nav-bar {
  display: flex;
  height: 4em;
  background-color: var(--color-lilac);
  z-index: inherit;
}

.nav-bar__button {
  height: 100%;
  flex-grow: 1;
  width: 33.3vw;
}

.home-icon-svg {
  box-sizing: border-box;
  height: 4.6em;
}

.bookmark-icon-svg {
  height: 4.6em;
  box-sizing: border-box;
}

.settings-icon-svg {
  height: 4.6em;
  box-sizing: border-box;
}
