.footer {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 20em;
  z-index: 2;
  background-color: var(--color-lilac);
}
.nav-bar {
  display: flex;
  height: 20%;
}

.nav-bar__button {
  height: 100%;
  background-color: var(--color-lilac);
  flex-grow: 1;
  width: 33.3vw;
}

.home-icon-svg {
  box-sizing: border-box;
  height: 4.6em;
}

.bookmark-icon-svg {
  height: 4.6em;
  box-sizing: border-box;
}

.settings-icon-svg {
  height: 4.6em;
  box-sizing: border-box;
}
