:root {
  --color-rose: #f7cac9;
  --color-rose-lilac: #dec2cb;
  --color-lilac-evening-sky: #c5b9cd;
  --color-lilac: #abb1cf;
  --color-evening-sky: #92a8d1;
  --color-muted-black: #4e4e56;
  --color-muted-beige: #dcd0c0;
  --color-muted-cream: #b1938b;
}

* {
  background-color: transparent;
  color: var(--color-muted-black);
  margin: 0;
  padding: 0;
}

body {
  background: linear-gradient(var(--color-rose), 40%, var(--color-lilac));
}
